
h1{
  text-align: center;
}
.center {
  display:block;
  margin: 0 auto;
  }
  nav{
    padding-left: 10px;
    padding-right: 10px;
    background-color: grey;
    text-align: center;
  }
  figcaption{
    font-size: small;
    text-align: center;
  }
  #featured-property{
    text-align: center;
    width: 800px;
    margin: 10px auto;
  }
#details{
display: flex;
float: left;
background-color: red;
text-align:center ;
width:100%;
justify-content: space-around;
}
